/node_modules/
/dist/
/build/
/coverage/

/src/test/*.json
/src/test/test-log.txt

# ignore saves, blueprints, binary files
/src/test/*.bin
/src/test/*.sbpcfg_modified
/src/test/*.bin_modified
/src/test/*.json
/src/test/*.sav
/src/test/*.bin
/src/test/*.bin_modified
/src/test/*.bins
/src/test/*.bins_modified
/src/test/*.sav_modified
/src/test/*.sbp
/src/test/*.sbp_modified
/src/test/*.sbpcfg

# But not these specific example saves and blueprints
!/src/test/Release 001.sav
!/src/test/Release 032.sav
!/src/test/265.sav
!/src/test/ficsitcam-1.sav
!/src/test/structuralsolutions-1.sav
!/src/test/x3-roads-signs-1.sav
!/src/test/Unlock 1.1.sav
!/src/test/Unlock 1.1-2.sav

!src/test/release-single-wall.sbp
!src/test/release-single-wall.sbpcfg
!src/test/release-storage-mk1.sbp
!src/test/release-storage-mk1.sbpcfg
!src/test/release-storage-mk2-blueprintmk2.sbp
!src/test/release-storage-mk2-blueprintmk2.sbpcfg
!src/test/release-two-foundations.sbp
!src/test/release-two-foundations.sbpcfg
!src/test/U1-1-Single-Container.sbp
!src/test/U1-1-Single-Container.sbpcfg
!src/test/U1-1-Single-Container-2.sbp
!src/test/U1-1-Single-Container-2.sbpcfg
