/node_modules/
/dist/
/build/
/docs/
/coverage/

/src/test/*.json
/src/test/test-log.txt

# ignore saves, blueprints, binary files
/src/test/*.bin
/src/test/*.sbpcfg_modified
/src/test/*.bin_modified
/src/test/*.json
/src/test/*.sav
/src/test/*.bin
/src/test/*.bin_modified
/src/test/*.bins
/src/test/*.bins_modified
/src/test/*.sav_modified
/src/test/*.sbp
/src/test/*.sbp_modified
/src/test/*.sbpcfg

# But not these specific examples
!/src/test/Release 001.sav
!/src/test/Release 032.sav
!/src/test/264_ohne_Mods.sav
!/src/test/ficsitcam-1.sav
!/src/test/structuralsolutions-1.sav
!/src/test/x3-roads-signs-1.sav
