/node_modules/
/dist/
/build/
/coverage/

/src/test/*.json
/src/test/test-log.txt

/src/test/*.bin
/src/test/*.sbpcfg_modified
/src/test/*.bin_modified
/src/test/*.json
/src/test/*.sav
/src/test/*.bin
/src/test/*.bin_modified
/src/test/*.bins
/src/test/*.bins_modified
/src/test/*.sav_modified

/src/test/*.sbp
/src/test/*.sbp_modified
/src/test/*.sbpcfg
/src/test/debugging.xlsx
/src/test/~$debugging.xlsx
